* {
	border-radius: 5px;
	color: #ffffff;
	font-family: "garamond";
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	scrollbar-color: #9f9f9f #303841;
}
.vide *:hover {cursor: not-allowed;}

a {
	font-style: italic;
	text-decoration: none;
	transition: ease 0.2s;
	cursor: pointer;
}
a:hover {color: #abcdef;}

body {
	background-color: #303841;
	margin: 20px;
	font-size: 200%;
}

button {
	background: #303841;
	cursor: pointer;
	font-weight: bold;
	margin: 2px;
}

header {
	position: sticky;
	z-index: 99;
}

iframe {
	border: 0;
	width: 100%;
}

img {filter: drop-shadow(1px 1px 1px #000000);}

input {
	background-color: #303841;
	margin: 2px;
}

table {
	border: 2px #ffffff solid;
	border-radius: 10px;
	margin: auto;
}

th {padding: 15px;}

.vide {background-color: grey;}
.vide:hover {cursor: not-allowed;}

@media (min-width: 910px) {

body {font-size: 100%;}

}

@media (min-width: 1350px) {

body {font-size: 100%;}

}
