* {
	border-radius: 15px;
	color: #fff;
	font-family: "garamond-local";
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	scrollbar-color: #9f9f9f #303841;
}
.vide *:hover {cursor: not-allowed;}
*[lang="ar"], *[lang="ar"] * {font-family: "amiri-local";}

a {
	font-style: italic;
	text-decoration: none;
	transition: ease 0.2s;
	cursor: pointer;
}
a:hover {color: #abcdef;}

b {color: inherit;}

body {
	background-color: #303841;
	margin: 20px;
	font-size: 200%;
}
.navigation {
	border: 3px #fff solid;
	padding: 10px;
	display: inline-flex;
	margin: 0;
	align-items: center;
}

button {
	background: #303841;
	cursor: pointer;
	font-weight: bold;
	margin: 2px;
}

.navigation h2 {margin: 0 10px 0 10px;}

header {
	position: sticky;
	z-index: 99;
}

i {color: inherit;}

iframe {
	border: 0;
	width: 100%;
	display: none;
}

img {filter: drop-shadow(1px 1px 1px #000);}
.logo {width: 80px;}

input {
	background-color: #303841;
	margin: 2px;
}

optgroup {text-align: left;}
option {text-align: left;}

select {
	background: #303841;
	border: 1px #fff solid;
}

span {color: inherit;}

sub {color: inherit;}

sup {color: inherit;}

table {
	border: 6px #fff solid;
	border-radius: 30px;
	margin: auto;
}

th {padding: 15px;}

.vide {background-color: grey;}
.vide:hover {cursor: not-allowed;}

@font-face {
	font-family: "garamond-local";
	font-weight: normal;
	font-style: normal;
	src: url("polices/garamond.ttf");
}

@font-face {
	font-family: "garamond-local";
	font-weight: normal;
	src: url("polices/garamond-italique.ttf");
	font-style: italic;
}

@font-face {
	font-family: "garamond-local";
	src: url("polices/garamond-gras.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "amiri-local";
	src: url("polices/amiri.ttf");
}

@media (min-height: 200px) {

body.navigation {
	columns: 1;
	display: block;
}

}

@media (min-width: 1000px) {

* {border-radius: 5px;}

body {font-size: 100%;}
.navigation {background-color: transparent;}

header {display: none;}

iframe {display: block;}

table {
	border: 2px #fff solid;
	border-radius: 10px;
}

}

@media (min-width: 1350px) {

body {font-size: 100%;}

header {display: none;}

iframe {display: block;}

}
