* {
	border-radius: 5px;
	color: #ffffff;
	font-family: "garamond";
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	scrollbar-color: #9f9f9f #303841;
}

a {
	font-style: italic;
	text-decoration: none;
	transition: ease 0.2s;
	cursor: pointer;
}
a:hover {color: #abcdef;}

body {
	background-color: #303841;
	margin: 20px;
}

button {
	background: #303841;
	cursor: pointer;
	font-weight: bold;
	margin: 2px;
}

header {
	position: sticky;
	z-index: 99;
}

iframe {border: 0;}

img {filter: drop-shadow(1px 1px 1px #000000);}

input {
	background-color: #303841;
	margin: 2px;
}

table {
	border: 2px #ffffff solid;
	border-radius: 10px;
	margin: auto;
}

th {padding: 15px;}
